<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<title>
			Oops!
		</title>
		<link rel="stylesheet" href="/stylesheets/bootstrap.min.css" type="text/css">
		<link rel="stylesheet" href="/stylesheets/site.css" type="text/css"/>
	</head>
	<body>
		<div class="container">
			<h1>Oops! Looks like something went wrong...</h1>
			<p>Don't worry, we're working on it.</p>
			<p class="lastline">Wait a moment and give it another go.</p>
			<a href="/" class="obutton singleline"><span>Home</span></a>
		</div>
		<footer><p>&#169; <script type="text/javascript">document.write(new Date().getFullYear());</script> BauerMedia, Inc.</p></footer>
	</body>
</html>
